In [1]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
data=pd.read_csv("E:\\data science\\assiments\\15\\Company_Data.csv")

In [3]:
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [4]:
data1 = pd.get_dummies(data, columns = ["ShelveLoc","Urban","US"])

In [5]:
data1["sales"]="small"
data1.loc[data["Sales"]> 7.4,"sales"]="large"
data1.drop(["Sales"],axis=1,inplace=True)

In [6]:
data1.head()

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes,sales
0,138,73,11,276,120,42,17,1,0,0,0,1,0,1,large
1,111,48,16,260,83,65,10,0,1,0,0,1,0,1,large
2,113,35,10,269,80,59,12,0,0,1,0,1,0,1,large
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1,small
4,141,64,3,340,128,38,13,1,0,0,0,1,1,0,small

In [7]:
array=data1.values

In [8]:
x = array[:,0:14]
y = array[:,14]

### spliting the data

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, stratify = y)

### applying RF

In [10]:
num_trees = 100
max_features = 3
kfold = KFold(n_splits=10)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
model.fit(x_train,y_train)
pred=model.predict(x_test)
acc = accuracy_score(y_test, pred) * 100
print("Accuracy =", acc)
confusion_matrix(y_test, pred)

Accuracy = 80.0

array([[34,  7],
       [ 9, 30]], dtype=int64)

In [11]:
results = cross_val_score(model, x,y, cv=kfold)

In [12]:
results

array([0.8  , 0.9  , 0.625, 0.825, 0.775, 0.875, 0.725, 0.8  , 0.725,
       0.825])

 ### Actual and Predicted value

In [13]:
df=pd.DataFrame({"actual":y_test,"predicted":pred})

In [14]:
df

   actual predicted
0   large     large
1   small     large
2   large     large
3   small     large
4   small     small
..    ...       ...
75  large     large
76  small     small
77  small     small
78  large     large
79  large     small

[80 rows x 2 columns]

### Features importance

In [36]:
column=data1.columns

In [38]:
column=column.drop("sales")

In [30]:
feature=model.feature_importances_

In [39]:
df1=pd.DataFrame({"column":column,"importance":feature})
df1.sort_values("importance",ascending=False)

              column  importance
4              Price    0.228257
5                Age    0.128328
0          CompPrice    0.115098
1             Income    0.096037
3         Population    0.087941
2        Advertising    0.086078
8     ShelveLoc_Good    0.085699
6          Education    0.053377
7      ShelveLoc_Bad    0.052562
9   ShelveLoc_Medium    0.022366
13            US_Yes    0.012041
12             US_No    0.011084
11         Urban_Yes    0.010722
10          Urban_No    0.010411

### price have high importance